/* SETUP */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;

    /*  DEV TOOLS 
    border: 2px solid red;
    padding: 1px; 
    */

    
    
}

picture, img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: inherit
}

a:hover, button:hover {
    color: palevioletred;
}

button {
    cursor: pointer;
    min-width: 10em;
    max-width: 10em;
    max-height: 3em;
}
 

/* STRUCTURE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: pink;
    font-family: "Edu NSW ACT Cursive", cursive, Verdana, Geneva, Tahoma, sans-serif;
}

main {
    flex-grow: 1;
    justify-content: center;
}

content-wrapper {
    display:flex;
    flex-wrap: wrap;
    padding: 0% 10vw;
}

/* STYLE */

main {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainHeader {
    position: sticky;
    top: 0;
}

.mainHeader content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    background-color: aliceblue;
    box-shadow: 4px 4px 4px rgba(218, 112, 214, 0.5);
}

.mainHeader content-wrapper div {
    width: 33%;
}


.blogName h1{
    flex: 1 1 auto;
    color: orchid;
    text-shadow: 3px 3px pink;
}

.blogName a {
    text-decoration: none
}

.socialLinks {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-evenly;
}

nav a {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0% 3%;
    border-radius: 50px;
    box-shadow: 4px 4px 4px rgba(218, 112, 214, 0.5);
}

nav a img {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    
    
}

.about content-wrapper div{
    flex: 1 1 auto;
    margin: 5%;
    border-radius: 25px;
    background-color: aliceblue;
    color: orchid;
    box-shadow: 4px 4px 4px rgba(218, 112, 214, 0.5);
    
}

.about h2 {
    text-shadow: 2px 2px pink;
}

.about p {
    margin: 5% 5%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 50vh;  
}

.cards content-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: stretch;
}

.cards article {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    flex: 1 1 auto;
    margin: 3% 3%;
    border-radius: 15px 25px 25px 5px;
    box-shadow: 4px 4px 4px rgba(218, 112, 214, 0.5);
    background-color: aliceblue;
    color: orchid;
}

.cards article a {
    text-decoration: none
}

.cards article img {
    border-radius: 15px 25px 25px 0px;
}

.cards article h3 {
    text-align: center;
    padding: 5% 5%;
    text-shadow: 1px 1px pink;
    
}

.cards article p {
    text-align: center;
    padding: 5% 5%;
    
}

footer {
    border-radius: 25px;
    background-color: aliceblue;
    
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 4px 4px 4px rgba(218, 112, 214, 0.5);
}

.email {
    flex: 1 1 auto;
    text-align: center;
    color: orchid;
    text-shadow: 1px 1px pink;
}

